.main-account {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-top: 2px solid white;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.3);
}

.main-account-blurred {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-top: 2px solid white;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.3);
  filter: blur(5px); 
  pointer-events: none; 
}

.user-section {
  min-height: 100%;
  min-width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

.user-section .user {
  box-sizing: border-box;
  min-height: 500px;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 5%;
  padding: 10px;
}

.user-info {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.user-info p {
  margin: 0;
}

.user-photo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  margin-left: 5px;
}

.user-info img {
  box-sizing: border-box;
  min-height: 60px;
  min-width: 60px;
  width: 100%;
  background-color: white;
  padding: 5px;
  border-radius: 5px 5px 0 0;
  box-shadow: inset 5px 5px 5px -5px black, inset -5px 5px 5px -5px black,
    inset 5px -5px 5px -5px black, inset -5px -5px 5px -5px black;
}

.user-info label {
  min-width: 60px;
  width: 100%;
  display: flex;
  place-content: center;
  background-color: #242424;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.user-info input {
  display: none;
}

.user-metrics {
  width: 100%;
  padding-left: 15px;
}

.user-metrics ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-crop {
  box-sizing: border-box;
  height: auto;
  min-height: 300px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 40%;
  background-color: #242424;
  padding: 5px;
  border: 2px solid white;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  gap: 10px;
  z-index: 100; 
}


.image-crop img {
    max-height: 100%;
    max-width: 80%;
}

.crop-button {
    background-color: #242424;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    color: white;
    cursor: pointer;
}

.user-image-canvas {
    display: none;
}

.close-crop {
  width: 15%;
  min-width: 35px;
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-crop img {
  width: 100%;
}

/* Seccion de notificaciones */
.notifications {
  box-sizing: border-box;
  min-width: 35%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-right: 2px solid white;
  padding: 5px;
  gap: 10px;
}

.notifications ul {
  margin: 0;
}

.notifications h4 {
  margin: 0;
}

.notification {
  width: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 5px;
  box-shadow: 0 0 10px 0 black;
}

.notification p {
  margin: 0;
}

.notification img {
  width: 10%;
  min-width: 40px;
  border: 2px solid white;
  border-radius: 5px;
}

.notification-button {
  cursor: pointer;
  padding: 5px;
}

.notification-button img {
  box-sizing: border-box;
  min-width: 20px;
  width: 10%;
  border: none;
}

.tooltip-container {
  margin-left: auto;
  position: relative;
  display: inline-block;
}

.tooltip-container .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 50%; 
  left: 105%; 
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container .tooltip-text::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%; 
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.accept-decline {
  display: flex;
  gap: 5px;
}

.accept-decline button {
  color: white;
  background-color: #242424;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.accept:hover {
  box-shadow: 0 0 10px 0 green;
}

.decline:hover {
  box-shadow: 0 0 10px 0 red;
}